@layout MainLayout
@page "/"
@inject NavigationManager NavigationManager

<div class='container'>
    <div class='row'>
        <div class='col-md-12' role='main'>
            <section class='intro'>
                <h1>Plan Your Vote</h1>
                    <p class='section-description'>Be prepared for the random order ballot. Choose candidates, answer
                    Capital Plan borrowing questions, and pick where and when to vote -
                    all with Plan Your Vote.</p>
                    <div class='planning'>
                        <a @onclick="navigateToPlanning">
                            Start Planning! &nbsp;
                            <span class='fas fa-chevron-right' />
                        </a>
                    </div>
                    <div class="row">
                        <div class="col">
                    @foreach (var bullet in bulletPlanning)
                    {
                        <ol>@bullet.Key.  @bullet.Value</ol>
                    }
                    </div> 
                    <div class="col">
                            <img
                            class='intro-right-img'
                            src='https://vancouver.ca/plan-your-vote/img/intro_right_legend.png'
                            alt='intro'
                            />
                            </div>
                    </div>
                <div class='divider' />
                <div
                    class='intro-center'
                    role='region'
                    aria-label='Important disclosures.'
                >
                    <p>
                        No personal information is needed. We don’t save or share your
                        plan.
                    </p>
                    <div class='planning'>
                        <a @onclick="navigateToPlanning">
                            Start Planning! &nbsp;
                            <span class='fas fa-chevron-right' />
                        </a>
                    </div>
                    <p class='reassurance text-uppercase' role='alert'>
                        <img
                        src='https://vancouver.ca/plan-your-vote/img/lock-black.jpg'
                        alt='lock icon'
                        />
                        It's private and confidential
                    </p>
                    @foreach (var disclaim in disclaimer)
                    {
                        <p>@disclaim</p>
                    }
                    <p class='to-election-site' role='alert'>
                        For details on voter registration, identification, and more,
                        <br />
                        <a
                        href='https://vancouver.ca/your-government/2018-election.aspx'
                        aria-label=' or details on voter registration, identification, and more, visit the full election site on vancouver.ca'
                        >
                            visit full election site &nbsp;
                            <span class='fas fa-chevron-right' />
                        </a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

@code {
    Dictionary<string, string> bulletPlanning = new Dictionary<string, string>() {
        { "1", "Browse candidates for mayor, councillor, Park Board commissioner, and school trustee, then add your favourites to your plan." },
        { "2", "Answer 3 Capital Plan borrowing questions about whether the City can borrow money to help pay for certain projects." },
        { "3", "Choose from 9 voting days and over 100 locations to fit your schedule." },
        { "4", "Email your plan and add voting day details to your calendar. Your plan will show your chosen candidates in the order you’ll find them on your ballot." }
    };

    public static readonly string[] disclaimer =  
    {
        "This election tool is only intended to help you plan your vote. By using it, you are not actually casting a "+
        "vote.You still need to go to the voting location on election day to vote in person.",

        "The views expressed in the candidates' profiles are the views of the candidates, and they are not endorsed " +
        "by the City of Vancouver. The profiles are reproduced verbatim as submitted by the candidates and the" + 
        "content has not been altered in any way by the City."
    };

}


@* VISIUAL REMINDER OF SIMPLE LINKS NEEDED FOR ROUTING *@
@code {
    private string highlightYellow = "yellow";

        void navigateToIndex() 
    {
        NavigationManager.NavigateTo("/");
    }
    void navigateToPlanning() 
    {
        NavigationManager.NavigateTo("/Candidates");
    }
}

<style>
    .planning {
        color: #0366D6;
    }

    .planning:hover {
        text-decoration: underline;
    }

    .intro-center {
        text-align: center;
    }

</style>

 

   