@layout PlanningNavBar

@page "/Review"
<br>
<div id="Text">
    <p>STEP 4: REVIEW YOUR PLAN</p>
    <p>YOUR CANDIDATES IN BALLOT ORDER:</p>
    <p>YOUR PLANNED RESPONSES TO CAPITAL PLAN BORROWING QUESTIONS:</p>
    <p>VOTING DAY DETAILS</p>
</div>
<form>
    <label>E-mail Address<input type="text"></label>
    <br>
    <label>Subject<input type="text"></label>
    <br>
    <label>Message<input type="text"></label>
    <br>
    <button>Send Reminder Email</button>
    <br>
    <label>Date: <input type="date" id="Date"></label>
    <br>
    <button>Generate Voting Plan PDF</button>
</form>