@inherits LayoutComponentBase


<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<footer>
    <div className='container'>
        <div class='row'>
            <div class='col-md-6'>
                <img id='footer-logo' src={logo.value} alt={logo.description} />
                <div id='footer-copyright'>&copy; 2019 Vancouver</div>
                <ul id='footer-nav'>
                    <li>
                    <a href='https://vancouver.ca/your-government/terms-of-use.aspx'>
                        Terms of Use
                    </a>
                    </li>
                    <li>
                    <a href='https://vancouver.ca/your-government/privacy-policy.aspx'>
                        Privacy Policy
                    </a>
                    </li>
                </ul>
            </div>
            <div class='col-md-6'>
                <ul id='footer-share'>
                    @foreach (var icon in socialIcons)
                    {
                        <li id=@icon.Key class='fa-stack'>
                            <i class="fas fa-circle fa-stack-2x" />
                            <i class="fab ${@icon.Value} fa-stack-1x fa-inverse`" />
                        </li>
                    }

                    @* {socialIcon('twitter', 'fa-twitter')}
                    {socialIcon('facebook', 'fa-facebook-f')}
                    {socialIcon('linkedin', 'fa-linkedin-in')} *@
                </ul>
                <select
                    aria-label='Change language to: '
                    class='custom-select custom-select-sm'
                >
                    <option value='0'>en</option>
                </select>
            </div>
        </div>
    </div>
</footer>

@code {

    @* NOTE 'fa-' is fontAwesome STYLE LIBRARY *@
    Dictionary<string, string> socialIcons = new Dictionary<string, string>   
    {
       {"twitter", "fa-twitter"},
       {"facebook", "fa-facebook-f"},
       {"linkedin", "fa-linkedin-in"}
    };
}

