@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class='wrapper'>
    <header class='main-head'>
        <nav class='main-nav'>
            <div class='grey' />
            <div class='nav-opt'>
                <a class='home' @onclick="navigateToIndex" target="_blank">Home</a>
                <a class='planning' @onclick="navigateToPlanning" target="_blank">Start Planning</a>
            </div>
        </nav>
    </header>
    <div>
        @Body 
    </div>
    <footer class='main-footer'>
        <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                @* <img id='footer-logo' src={logo.value} alt={logo.description} /> *@
                <div id='footer-copyright'>&copy; 2019 Vancouver</div>
                <ul id='footer-nav'>
                    <li>
                    <a href='https://vancouver.ca/your-government/terms-of-use.aspx'>
                        Terms of Use
                    </a>
                    </li>
                    <li>
                    <a href='https://vancouver.ca/your-government/privacy-policy.aspx'>
                        Privacy Policy
                    </a>
                    </li>
                </ul>
            </div>
            <div class='col-md-6'>
                <ul id='footer-share'>
                    @foreach (var icon in socialIcons)
                    {
                        <li id=@icon.Key class='fa-stack'>
                            <i class="fab @icon.Value"></i>
                        </li>
                    }
                </ul>
                <select
                    aria-label='Change language to: '
                    class='custom-select custom-select-sm'
                >
                    <option value='0'>en</option>
                </select>
            </div>
        </div>
    </div>
    </footer>
</div>

@code {
    @* NOTE 'fa-' is fontAwesome STYLE LIBRARY *@
    Dictionary<string, string> socialIcons = new Dictionary<string, string>   
    {
       {"twitter", "fa-twitter-square fa-3x"},
       {"facebook", "fa-facebook fa-3x"},
       {"linkedin", "fa-linkedin fa-3x"}
    };
    void navigateToIndex() 
    {
        NavigationManager.NavigateTo("/");
    }
    void navigateToPlanning() 
    {
        NavigationManager.NavigateTo("/Candidates");
    }
}

